@model PKX.Models.Cliente

<h4>Eliminar? <br />(ATENÇÃO: operação irreversível)</h4>
<br />
<div>
    
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
    </dl>
    <br /><br />
    @if (Convert.ToInt16(ViewBag.CONTAGEM) > 0)
    {
        <h4>Este cliente não pode ser eliminado.
        <br /> 
        Ainda tem @ViewBag.CONTAGEM registos (itens) associados.</h4>
    }
    else
    {
        <h4>Eliminação indisponível. <br /> Apenas o administrador pode eliminar clientes, mesmo que a contagem de itens já esteja a zero.</h4>
    }
    @* 
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form> *@
    <br />
    <a asp-action="Index">Voltar</a>
</div>
