@model PKX.Models.Tempo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tempo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descritivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descritivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AtividadeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AtividadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
