@model IEnumerable<PKX.Models.Tempo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descritivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Minutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtividadeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descritivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Minutos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtividadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
