@model KRONOS.Models.clm_memogesI

@{
    ViewBag.Title = "D";
}

<h2>REMOÇÃO</h2>

<h3>Apagar mesmo?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto2)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
