@model KRONOS.Models.clm_memogesII_linhas

@{
    ViewBag.Title = "D";
}

<h2>REMOÇÃO</h2>

<h3>Remover mesmo?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.parte.item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parte.item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" />  |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
