@model IEnumerable<PKX.Models.LinhaProcesso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "GJoaoLinhaProcessos", FormMethod.Get))
{
<div>
    Categorias:
    @Html.DropDownList("categoria", (SelectList)ViewBag.CATEGORIAS)
</div>

<div>
    Estados:
    @Html.DropDownList("estado", (SelectList)ViewBag.ESTADOS)
</div>

<div>
    Processos:
    @Html.DropDownList("processo", (SelectList)ViewBag.PROCESSOS)
</div>

<div>
    Prioridades:
    @Html.DropDownList("prioridade", (SelectList)ViewBag.PRIORIDADES)
</div>

<input type="submit" value="Filtrar" class="btn btn-primary" />

}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
